<% include ../partials/header.ejs  %>
<h1>New Parent</h1>
<form method="post" action="/parents">
<div class="form-group">
  <label for="InputParentName">Parent's Name</label>
  <input type="text" class="form-control" id="parent_name" name="ParentName" placeholder="New Parent Name">
</div>
<div class="form-group">
  <label for="InputParentEmail">Parent's Email</label>
  <input type="text" class="form-control" id="parent_email" name="ParentEmail" placeholder="New Parent Email">
</div>
<div class="form-group">
  <label for="InputParentAge">Parent's Age</label>
  <input type="text" class="form-control" id="parent_age" name="ParentAge" placeholder="New Parent Age">
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
<% include ../partials/footer.ejs  %>
