<% include ../partials/header.ejs  %>
<h1>All Parents' Details</h1>

<ul>
    <% moviesArr.forEach(function(movie) { %>
      <li>
        Movie Name: <%= movie.name %><br>
        Movie Year: <%= movie.year %><br>
        Movie Rating: <%= movie.rating %>
        <br><br>
      </li>
    <% }) %>
</ul>

<% include ../partials/footer.ejs  %>
